<div class="container content box">
  <a href=""></a>
  <div class="columns">
    <div class="column is-one-fifth">
      <img src="{{ site.profile.picture | relative_url}}" alt="" style="margin: auto; align-self: center;">
    </div>
    <div class="column">
      <div class="is-size-5 has-text-weight-semibold">
        {%- if page.lang == "en-US" -%}
        {{site.profile.name_en}}
        {%- else -%}
        {{site.profile.name}}
        {%- endif -%}
        &nbsp;({{site.profile.position}})
      </div>
      <div class="is-size-6">
        {%- if page.lang == "en-US" -%}
        {{site.profile.affiliation_en}}
        {%- else -%}
        {{site.profile.affiliation}}
        {%- endif -%}
      </div>

      {%- include social.html -%}

      <div class="is-size-6">
        <div class="has-text-weight-semibold">Research Area:</div>
        <div>{{ site.profile.researcharea }}</div>
      </div>

      <div class="is-size-6">
        {%- if site.profile.email -%}
        <div class="has-text-weight-semibold">Contact:</div>
        <div><span class="icon"><i class="far fa-envelope"></i></span>{{ site.profile.email }}</div>
        {%- endif-%}
      </div>

    </div>
  </div>
</div>