<div>
    {%- if site.profile.github -%}<span class="icon"><i class="fab fa-github"></i></span><a
        href="{{ site.profile.github | escape }}"><span class="sns"></span>Github</span></a>
    {%- endif-%}
    {%- if site.profile.twitter -%}<span class="icon"><i class="fab fa-twitter"></i></span><a
        href="{{ site.profile.twitter| escape }}"><span class="sns">Twitter</span></a>
    {%- endif -%}
    {%- if site.profile.linkedin -%}<span class="icon"><i class="fab fa-linkedin"></i></span><a
        href="{{ site.profile.linkedin| escape }}"><span class="sns">Linkedin</span></a>
    {%- endif -%}
    {%- if site.profile.gscholar -%}<span class="icon"><i class="ai ai-google-scholar"></i></span><a
        href="{{ site.profile.gscholar| escape }}"><span class="sns">Google Scholar</span></a>
    {%-endif -%}
    {%- if site.profile.researchgate -%}<span class="icon"><i class="ai ai-researchgate"></i></span><a
        href="{{ site.profile.gscholar| escape }}"><span class="sns">researchGate</span></a>
    {%-endif -%}
    {%- if site.profile.orcid -%}<span class="icon"><i class="ai ai-orcid"></i></span><a
        href='{{ site.profile.orcid| escape }}'><span class="sns">ORCID</span></a>
    {%-endif -%}
</div>


<!-- {%- if site.profile.rss -%}<span class="icon"><i class="fas rss"></i></span><a
        href="{{ 'feed.xml' | relative_url }}"><span>{{ site.rss | escape }}</span></a>
{%- endif -%}
{%- if site.profile.dribbble -%}<span class="icon"><i class="fab fa-dribbble"></i></span>
    <a href="{{ site.profile.dribbble| escape }}"><span class="sns">Dribbble</span></a>
{%- endif -%}
{%- if site.profile.facebook -%}<span class="icon"><i class="fab fa-facebook"></i></span>
    <a href="{{ site.profile.facebook| escape }}"><span class="sns">Facebook</span></a>
{%- endif -%}
{%- if site.profile.flickr -%}<span class="icon"><i class="fab fa-flickr"></i></span><a
        href="{{ site.profile.flickr| escape }}"><span class="sns">Flickr</span></a>
{%- endif -%}
{%- if site.profile.instagram -%}<span class="icon"><i class="fab fa-instagram"></i></span><a
        href="{{ site.profile.instagram| escape }}"><span class="sns">Instagram</span></a>
{%- endif -%}
{%- if site.profile.pinterest -%}<span class="icon"><i class="fab fa-pinterest"></i></span><a
        href="{{ site.profile.pinterest| escape }}"><span class="sns">Pinterest</span></a>
{%- endif -%}
{%- if site.profile.googleplus -%}<span class="icon"><i class="fab fa-google-plus"></i></span><a
        href="{{ site.profile.googleplus| escape }}"><span class="sns">Google Plus</span></a>
{%- endif -%} -->